.idea/
.DS_Store
media/
invoices/data/*
!invoices/data/.gitkeep
invoices/docx/*
!invoices/docx/.gitkeep
db.sqlite3
.venv/
.env
*.pyc
*.pyo
*.pyd
/__pycache__/**
google_api.json
staticfiles/*

*/fixtures/*.json
!*/fixtures/*_dev.json

